@model IEnumerable<Survey.Models.BOSurvey>

@{
    ViewBag.Title = "Details";

}

    <center><h2>Survey Data</h2></center>


 <table align="center" style="width:100%" >
    <tr>
        <th>
            Name
        </th>

        <th>
            Age
        </th>

        <th>
            Gender
        </th>
        <th>
            Email
        </th>
        <th>
            City
        </th>
        <th>
            Education
        </th>
        <th>
            Resume
        </th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadResume)
            </td>

        </tr>
    }

</table>





